---
import { Image } from 'astro:assets';
import profileImage from '../../public/profile.jpg';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Image src={profileImage} alt="Will Walker" style="width: 200px !important;"/>
			<h1>Will's Wire</h1>
			<p>
				My name is Will Walker. As a Software Developer, I specialize in DevOps technologies and currently work 
				for the United States Air Force in delivering capabilities to USCYBERCOM. I push code to public repositories 
				on both GitHub and GitLab, but I'm mostly active in private repos.
			</p>
			<p>
				When I'm not writing code, I enjoy exercising, reading, listening to/playing music, eating good food and drinking great coffee.
			</p>
		</main>
		<Footer />
	</body>
</html>
