---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/writing">Writing</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://github.com/willswire" target="_blank">
				<span class="sr-only">Visit my GitHub page</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#aeaeb2" fill-rule="evenodd" d="M12.008 2.167C6.474 2.167 2 6.674 2 12.249c0 4.457 2.867 8.23 6.843 9.565.498.1.68-.217.68-.484 0-.233-.017-1.035-.017-1.87-2.784.602-3.364-1.201-3.364-1.201-.447-1.169-1.11-1.47-1.11-1.47-.911-.617.067-.617.067-.617 1.01.067 1.54 1.035 1.54 1.035.895 1.536 2.337 1.102 2.917.835.083-.651.348-1.102.63-1.352-2.22-.234-4.557-1.102-4.557-4.975 0-1.102.397-2.003 1.027-2.704-.1-.25-.447-1.286.1-2.671 0 0 .845-.267 2.75 1.035a9.622 9.622 0 0 1 2.502-.334c.845 0 1.707.117 2.502.334 1.906-1.302 2.75-1.035 2.75-1.035.548 1.385.2 2.42.1 2.67.647.702 1.028 1.603 1.028 2.705 0 3.873-2.337 4.724-4.574 4.975.365.317.68.918.68 1.87 0 1.351-.017 2.436-.017 2.77 0 .267.183.585.68.484A10.075 10.075 0 0 0 22 12.25c.016-5.575-4.474-10.082-9.992-10.082z" clip-rule="evenodd" style="stroke-width:1"/></svg>
			</a>
			<a href="https://www.linkedin.com/in/william-m-walker/" target="_blank">
				<span class="sr-only">Visit my LinkedIn</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 6.35 6.35"><path fill="#aeaeb2" d="M5.443.529H.906a.38.38 0 0 0-.377.38v4.53a.38.38 0 0 0 .378.382h4.536a.38.38 0 0 0 .378-.382V.91a.381.381 0 0 0-.378-.38ZM2.129 5.065h-.784V2.539h.785v2.526Zm-.392-2.87a.456.456 0 1 1 0-.91.456.456 0 0 1 0 .91zm3.333 2.87h-.785V3.837c0-.294-.005-.67-.408-.67-.409 0-.47.319-.47.649v1.249h-.785V2.539h.752v.344h.01c.105-.197.361-.406.743-.406.794 0 .942.523.942 1.203z" style="fill:#aeaeb2;fill-opacity:1;stroke-width:.00826823"/></svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin-bottom: 2rem;
		background: var(--gray-dark);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		width: 100%;
		padding: 0 1.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		color: var(--gray);
		padding: 0.75rem 0.5rem;
	}
	nav a.active {
		color: var(--white);
		text-decoration: none;
	}
	.social-links,
	.social-links a {
		display: flex;
	}

	@media (min-width: 768px) {
		nav {
			width: 750px;
			margin: 0 auto;
			padding: 0;
		}
	}
</style>
