name: deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: macos-26
    environment:
      name: "production"
      url: "https://willswire.com"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: brew install cloudflare-wrangler pandoc just

      - name: Build
        run: just build

      - name: Deploy
        run: just deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
